
mixin list(items, className)
    div(class="#{className}")
        ul(class="#{className}_list")
            each item, key in items
                li(class="#{className}_item #{className}_item--#{item}")
                    a(href="#" class="#{className}_link #{className}_item--#{item}")= item






mixin list-mod(items, className, id, mod)
    div(class="#{className}")
        ul(class="#{className}_list")
            each item in items
                li(class="#{className}_item")
                    a(href="#" class="#{className}_link")= item